body{
    box-sizing: border-box;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #F5F5F5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #121212;
}
#header{
    height: 72px;
    background-color: #121212;
    color: #F5F5F5;
    font-size: 32px;
    font-weight: 900;
    display: flex;
    align-items: center;
    padding-left: 60px;
    position: fixed;
    top: 0;
    width: 100%;
}
#content{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#board-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid #121212;
    border-radius: 20px;
    width: 400px;
    height: 700px;
    padding: 10px;
}
.instructions{
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
}
.choice-container{
    display: flex;
    gap: 25px;
    margin: 10px;
}
button{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #121212;
    border-radius: 15px;
    background-color: #F5F5F5;
    color: #121212;
    transition: .5s;
}

.difficulty-button{
    width: 110px;
    font-size: 18px;
    padding: 5px 0px;
}

#start-game{
    padding: 5px 8px;
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
}
.active{
    background-color: #121212;
    color: #F5F5F5;
}

.piece-button{
    height: 50px;
    width: 50px;
    font-size: 24px;
    font-weight: bold;
}
.x-piece{
    color: #F05454;
}
.x-piece.active{
    color: #F5F5F5;
    background-color: #F05454;
}
.o-piece{
    color: #30475E;
}
.o-piece.active{
    color: #F5F5F5;
    background-color: #30475E;
}

#board{
    margin: 15px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}
.board-space{
    height: 120px;
    width: 120px;
    padding: 0;
    background-color: #F5F5F5;
    border: none;
    border-top: 4px solid #121212;
    border-left: 4px solid #121212;
    border-radius: 0;
    font-size: 50px;
}
.no-top-border{
    border-top: none;
}
.no-left-border{
    border-left: none;
}
